{% block empty_result %}
    <div class="composition_container">
        <div class="container metadata_container">
            <div class="row">
                Nothing is found by your request.<br>
                <br>Try following:<br>
                <ul>
                    <li>Make sure there are no mistakes in spelling.</li>
                    <li>Try to use another key words.</li>
                    <li>Try to use more popular key words.</li>
                    <li>Try to cut amount of words in your request.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}