{% extends ':pages:base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>About us</h1>
            <p>This website represent large collection of various artists with handy functionality to easy find and download sheet notes. Authorisation system and ability to manipulate with content will be added shortly. If you have any question, suggestion or any kind of feedback, please, feel free to contact us.</p>
            <p>Best regards, CWO team.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Feedback</a></p>
        </div>
    </div>
</div>
{% endblock %}