{% extends ':pages:base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Authors handlist</h1>
        <br>
                {% include ':elements:author_list_unit.html.twig' %}
    </div>

{% endblock %}